.line-table {
  padding: 1.5rem;
  border-bottom: 1.5px solid rgba(219,233,245,.6);
}

.line-table button {
  width: 2.2rem;
  height: 2.2rem;
  border: 1px solid rgba(219,233,245,.6);
  background-color: #FFF;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-table button img {
  width: 1.1rem;
}

.line-table .specific-region {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 0.7rem;
}

.line-table .specific-region strong {
  font-size: 1.19rem;
  letter-spacing: -.10px;
}

.line-table .grid-column-in-line-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "primeiro segundo terceiro"
  "quarto vazio quinto"
  ;
  gap: 10px;
}

.line-table .grid-column-in-line-table .column-in-line-table {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.line-table .grid-column-in-line-table .column-in-line-table span {
  font-size: 0.89rem;
  font-weight: 700;
}

.line-table .grid-column-in-line-table .column-in-line-table strong {
  margin-top: 0.2rem;
  font-size: 1.1rem;
}

@media (min-width: 700px) {
  .table-cases .table-content .line-table .grid-column-in-line-table {
    grid-template-areas: none;
    grid-template-columns: none;
    display: flex;
    flex-direction: row;
  }

  .line-table button {
    width: 3rem;
    height: 3rem;
    border-radius: 6px;
  }
}